.hello {
    color: red;
  }

  .page-wrap {
    display: grid;
    grid-template-columns: .5fr 1fr 1fr;
    grid-template-rows: .3fr 1fr 1fr .3fr;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .header {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 40px;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background-color: black;
    color: white;
    font-weight: 900;
    font-size: 50px;
  }

  /* ---------------------------------- */
  
  .footer {
    display: flex;
    justify-content: end;
    align-items: center;
    font-weight: 700;
    padding-right: 100px;
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    background-color: rgba(0, 0, 0, 0.918);
    color: white;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0, 0.4); 
}

#addBtn {
    height: 40px;
    border-radius: 10%;
    background-color: rgba(247, 244, 78, 0.966);
    font-weight: bolder;
    font-size: large;
}

.list-name.active-list {
 color: red;
}

  /* ----------------------side panel---------------- */
  
  .sidepanel {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    background-color:  rgba(109, 109, 109, 0.363)
  }

  
  .project_name {
    color: purple;
    font-weight: 900;
    font-size: 30px;
  }
  
  .addProject {
    width: 40px;
    height: 20px;
    background-color: blueviolet;
    color: white;
    
  }
  
  .pblock {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* border: 2px solid rgba(0, 0, 0, 0.377); */
  }

  .projectList {
    font-size: 20px;
    color: purple;
    font-weight: 900;
  }

  .editProject {
    color: white;
    background-color: green;
    width: 40px;
    height: 20px;
  }

  .removeProject {
    color: white;
    background-color: red;
    width: 40px;
    height: 20px;
  }
  
  
  /* ------------------------main content------------- */
  .content {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    color: purple;
    font-weight: 900;
    font-size: 20px;
  }
  
  .block {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    /* border: 2px solid rgba(0, 0, 0, 0.377); */
    padding-left: 30px;
  }
  
  .deleteTask {
    width: 40px;
    height: 20px;
    background-color: red;
    color: white;
  }
  
  .editTask {
    width: 50px;
    height: 20px;
    background-color: green;
    color: white;
  }

  .taskName {
    width: 500px;
    height: 20px;
    font-size: 15px;
    color: purple;
    font-weight: 900;
  }

  .taskInput {
    font-size: 20px;
    font-weight: 900;
    color: purple;
  }